@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
div.basic-container{
    margin: 0px 40px;

}
.fill-remeaning-space{
flex : 1 1 auto;
}

form.normal-form{
    margin: 10px;

}
.controles-contianer{
    width: 100%;
    padding: 5%;
}

.controles-contianer > *{
    width: 100%;
}
.example-button-row button{
    margin: 5px;
}
.add-bottom-padding{
    padding-bottom: 10px;
}

/* notification */
snack-bar-container.success{
    background-color: #55ccbb;
    color: white
}
snack-bar-container.notification{
    font-size: 18px !important;
    font-weight: bold;
}
.hide{
    display: none;
}

.div-search{
    margin: 10px;


}
.search-form-field{
    width: 60%;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #55ccbb;
    border-radius: 5px;
}
.search-form-field div.mat-form-field-underline{
    display: none; 
    height: 10px;

}.search-form-field {
    width: 60%;
    margin-left: 9px;
    margin-bottom: 0px; 
    padding: 3px 9px;
    background-color: #55ccbb;
    border-radius: 5px;
}
