<div class="div">
  <div class="form">
    <form [formGroup]="service.form" class="normal-form"(submit)="onsubmit()" >
      <mat-grid-list cols="4" rowHeight="400px">
        <mat-grid-tile>
          <div class="controles-contianer">
            <input type="hidden" formControlName="$key">
            <mat-form-field>
              <input formControlName="fullName" matInput placeholder="full Name*">
              <mat-error>this field is mandatory</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="email" matInput placeholder="email">
              <mat-error>invalid email address</mat-error>

            </mat-form-field>

            <mat-form-field>
              <input formControlName="mobile" matInput placeholder="mobile*">
              <mat-error *ngIf="service.form.controls['mobile'].errors?.required">this field is mandatory</mat-error>
              <mat-error *ngIf="service.form.controls['mobile'].errors?.minLength">min 8 char is req</mat-error>

            </mat-form-field>

            <mat-form-field>
              <input formControlName="city" matInput placeholder="city">
            </mat-form-field>
          </div>

        </mat-grid-tile>
        <mat-grid-tile>
          <div class="controles-contianer">
            <div class="add-bottom-padding">
              <mat-radio-group>
                <mat-radio-button value="1">Male</mat-radio-button>
                <mat-radio-button value="2">FeMale</mat-radio-button>
                <mat-radio-button value="3">other</mat-radio-button>

              </mat-radio-group>
              <mat-form-field>
                <mat-select placeholder="Department" formControlName="department">
                  <mat-option>none
                  </mat-option>
                  <ng-container *ngFor="let dp of dep.array">
                    <mat-option value={{dp.$key}}>{{dp.name}}{{dp.code}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="hireDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>


              <div class="add-botton-padding">
                <mat-checkbox class="example-margin" formControlName="isParmanent">permanent employee</mat-checkbox>
              </div>
              <div class="example-button-row">
                  <button mat-raised-button color="primary" [disabled]="service.form.invalid">submit</button>
                  <button mat-raised-button color="warn" (click)="onclear()">cancel</button>
              </div>
            </div>
          </div>

        </mat-grid-tile>
      </mat-grid-list>

    </form>



  </div>


</div>